/* Reset some default styles */
body, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 18px;
    color: rgb(78, 4, 112);
    text-align: center;

}
h1{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    color: rgb(78, 4, 112);
    text-align: center;
}
h2{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: rgb(78, 4, 112);
    text-align: center;
}

/* Apply responsive font size */
body {
    font-size: 16px;
    background-color: aliceblue;}

/* Main container */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label{
    float: left;
    padding-left: 10%;
}
.form-container select{
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Form inputs */
.form-container input[type="text"],
.form-container input[type="date"],
.hobby-input,
.form-container select {
    width: 80%;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#hobby-button{
    width: 40%;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Add and delete button menu */
.button-menu {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.buttonSub {
    padding: 10px 20px;
    margin: 0 auto;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 300px;
    display: block;

}
.buttonSub:hover, .delete-form-button:hover {
    background-color: rgb(78, 4, 112);
    color: white;
}

.delete-form-button{
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    display: block;
}

/* Table */
#detailsTable {
    max-width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

#detailsTable th, #detailsTable td {
    padding: 10px;
    border: 1px solid rgb(78, 4, 112);
    text-align: left;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 18px;
    width: 400px;
    margin: 0 auto;
    
}

#detailsTable th {
    background-color: rgb(78, 4, 112);
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

}

#detailsTable tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2); 
}

.taBleDeleteButton{
    padding: 5px 10px;
    color: #fff;
    background-color: rgb(78, 4, 112);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
}
/* Responsive adjustments */
@media only screen and (max-width: 600px) {
    .form-container {
        padding: 10px;
    }
    .buttonSub {
        width: 100%;
    }
    .buttonSub:hover {
        background-color: rgb(78, 4, 112);
        color: white;
    }
    #detailsTable th, #detailsTable td {
        padding: 5px;
        font-size: 14px;
    }

}
